# Unofficial MODU-C dongle adaptation; see LICENSE and NOTICE.md.
config SHIELD_MODU_DONGLE
    def_bool $(shields_list_contains,modu_dongle)

config SHIELD_MODU_DONGLE_OLED
    def_bool $(shields_list_contains,modu_dongle_oled)
